<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1> Add a new Product </h1>
    <form action="/products" method="POST">
        <label for="title">Name</label>
        <input type="text" name="title">
        <label for="'description">Description</label>
        <input type="text" name="description">
        <label for="'price">Price</label>
        <input type="number" name="price">
        <input type="submit" value="Create">
    </form>
  
</body>
</html>